/* Définition des polices personnalisées */

@font-face
{
  font-family: 'latoregular';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/lato-regular-webfont.woff') format('woff'),
       url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*
{
  font-family: 'latoregular';
}

/* Header */

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 1em;
}

#titre_principal
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation img
{
  max-width: 40%;
  height: auto;
}

#navigation
{
  display:flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: space-between;
}

#logo
{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}

.logo_GBAF
{
  align-items: center;
  max-width: 8em;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
}

#connexion_head
{
  text-align: center;
}

.nav_pres_acteur
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  font-size: 1em;
  color: #181818;
  text-decoration: none;
}

.nav_pres_acteur a:hover
{
  color: #760001;
}

header h1
{
  font-family: 'latoregular';
  font-size: 2.5em;
  font-weight: normal;
  margin: 0 0 0 10px;
}

header h2
{
  font-family: 'latoregular';
  font-size: 0.8em;
  margin-top: 0px;
  font-weight: bold;
}

/* Corps */

html
{
  background: url('../images/hexagon_background.png');
  font-family: 'latoregular';
  color: #181818;
  height: 100%;
}

body
{
  min-height:100%;
}

h1
{
  font-size: 2em;
  text-align:center;
}

h2
{
  font-size: 1.5em;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

.presentation
{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  box-shadow: 2px 2px 2px 2px;
  margin: 2em;
  padding:0.5em;
}

.titre_logo_presentation
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

article
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.logo
{
    align-items: center;
    max-width: 20em;
    height: auto;
    vertical-align: middle;
    margin-right: 8px;
}

.avatar
{
    max-width: 5em;
    height: auto;
}

.logo_acteurs
{
    max-width: 8em;
    height: auto;
    vertical-align: center;
    margin-right: 8px;
}

.like
{
    max-width: 4em;
    height: auto;
}

.section_acteurs
{
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  width: auto;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

.article_acteur
{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 1em;
  height: auto;
  border-bottom: 1px solid #c3c3c3;
}

.logo_titre_pres_acteur
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1em;
}

.titre_pres_acteur
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#titre_connexion
{
  text-align: center;
  font-size: 1em;
}

#page_connexion
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 5em;
}

.champs_connexion
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.3em;
  width: 20em;
}

#pwd_forgotten
{
  font-size: 0.8em;
}

.interaction_utilisateur
{
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: stretch, center;
  border-bottom: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  margin: 2em;
  padding: 1em;
}

.saisie_com
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.saisie_vote
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat_likes
{
  display:flex;
  flex-direction:row;
  align-items: center;
}


textarea
{
  resize:vertical;
  min-width: 20em;
  min-height: 2em;
  max-height: 10em;
}

.section_commentaires
{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  margin-left: 2em;
}

.commentaire
{
  display:flex;
  flex-direction:column;
  width: auto;
  margin-top: 1em;
  align-items: flex-start;
  border-bottom: 1px solid #c3c3c3;
}

/* Footer */

footer
{
  position: sticky;
  bottom: 0px;
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3em;
  background: url('images/separateur_noir.png') no-repeat top, url('../images/hexagon_background.png');
}

footer h1
{
    font-size: 1.1em;
}

.mention
{
  padding-left: 2em;
  padding-right: 2em;
}

.mention a
{
  color:black;
}

.mention a:link
{
  text-decoration: none;
}

.mention a:visited
{
  text-decoration: none;
}

.mention a:hover
{
  text-decoration: underline;
}

.mention a:active
{
  text-decoration: underline;
}
