/* Définition des polices personnalisées */

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
    font-family: 'latoregular';
}

/* Header */

header
{
    background: url('../images/separateur_noir.png') no-repeat bottom;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch,center;
    margin: 1em;
    padding-top: 1em;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

#logo img
{
    max-width: 40%;
    height: auto;
}

#navigation
{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#connexion_head
{
  text-align: center;
}

#creation_head
{
  display:flex;
  flex-direction: row;
  width:10em;
  height:10em;
  text-align:center;
  padding:10px;
}

.nav_pres_acteur
{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width:100%;
  font-size: 1.1em;
  color: #181818;
  text-decoration: none;
}

.nav_pres_acteur a:hover
{
    color: #760001;
}

header h1
{
    font-family: 'latoregular';
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'latoregular';
    font-size: 0.8em;
    margin-top: 0px;
    font-weight: bold;
}


nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    background-origin: initial;
    background: url('../images/banniere_description.jpg') no-repeat;
    position: relative;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    width: 99.5%;
    height: 15px;
    padding-top: 15px;
    padding-left: 4px;
    color: black;
    font-size: 0.9em;
}


/* Corps */

html, body
{
    background: url('../images/hexagon_background.png');
    font-family: 'latoregular';
    color: #181818;
    min-height: 100vh;
}

h1
{
  font-size: 2em;
  text-align:center;
}

h2
{
  font-size: 1.5em;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

.presentation
{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  box-shadow: 2px 2px 2px 2px;
  margin: 2em;
  padding:0.5em;
}

.titre_logo_presentation
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.logo_GBAF
{
    align-items: center;
    max-width: 10em;
    height: auto;
    vertical-align: middle;
    margin-right: 8px;
}

.logo
{
    align-items: center;
    max-width: 20em;
    height: auto;
    vertical-align: middle;
    margin-right: 8px;
}

.avatar
{
    max-width: 5em;
    height: auto;
}

.logo_acteurs
{
    max-width: 10em;
    height: auto;
    vertical-align: center;
    margin-right: 8px;
}

.section_acteurs
{
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

.article_acteur
{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 1em;
  height: auto;
  border-bottom: 1px solid #c3c3c3;
}

.logo_titre_pres_acteur
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1em;
}

.titre_pres_acteur
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#titre_connexion
{
  text-align: center;
  font-size: 1em;
}

#page_connexion
{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 5em;
}

.champs_connexion
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.3em;
  width: 20em;
}

#pwd_forgotten
{
  font-size: 0.8em;
}

.interaction_utilisateur
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch, center;
  padding:1em;
  width: 90%;
  border-bottom: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
}

.saisie_com
{
  display:flex;
  flex-direction:column;
  width: auto;
  align-items: flex-start;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  padding:1em;
}

textarea
{
  resize:vertical;
  width: 50em;
  min-height: 2em;
  max-height: 10em;
}

.section_commentaires
{
  display:flex;
  flex-direction:column;
  width: 100%;
  align-items: flex-start;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0em;
}

.commentaire
{
  display:flex;
  flex-direction:column;
  width: auto;
  margin-top: 1em;
  align-items: flex-start;
  border: 1px solid #c3c3c3;
}

/* Footer */

footer
{
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3em;
    background: url('images/separateur_noir.png') no-repeat top;
}

footer h1
{
    font-size: 1.1em;
}

.mention
{
  padding-left: 2em;
  padding-right: 2em;
}

.mention a
{
  color:black;
}

.mention a:link
{
  text-decoration: none;
}

.mention a:visited {
  text-decoration: none;
}

.mention a:hover {
  text-decoration: underline;
}

.mention a:active {
  text-decoration: underline;
}
